# Pandas Dataframe

In [10]:
# Pandas dataframe 생성하는 법

from pandas import DataFrame

# list of list로 생성
# 이 경우 각 list는 row가 된다
raw_data_table = [[1,2,3,4],[10,20,30,40],[100,200,300,400]]
d_t = DataFrame(raw_data_table)
print(d_t.shape) # (row count, column count를 return)
print(d_t)

# dict로 부터 생성하기
# 이 경우 각 value는 column이 된다... 왜 일치하게 만들지 않은 것일까? :(
# 각 list의 크기는 같아야 한다. 안 그러면 exception 발생
raw_data_dict = {'col0': [4, 3, 2, 1],
                 'col1': [40, 30, 20, 10],
                 'col2': [400, 300, 200, 100]}

d_d = DataFrame(raw_data_dict)
print(d_d.shape) # (row count, column count를 return)
print(d_d)

(3, 4)
     0    1    2    3
0    1    2    3    4
1   10   20   30   40
2  100  200  300  400
(4, 3)
   col0  col1  col2
0     4    40   400
1     3    30   300
2     2    20   200
3     1    10   100

In [11]:
# Dataframe을 index로 접근하면 기본적으로 column 으로 접근된다
print(type(d_t[0]))
print(d_t[0])

print(type(d_d['col0']))
print(d_d['col0'])

for e in d_d['col0']:
    print(e, type(e))

<class 'pandas.core.series.Series'>
0      1
1     10
2    100
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>
0    4
1    3
2    2
3    1
Name: col0, dtype: int64
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [12]:
# dict로 부터 생성하기에서 유추할 수 있듯, 사실 row의 index도 string으로 정의할 수 있다
# 또한 column도 덧붙여 줄 수 있다. 아래와 같은 식으로

d_t = DataFrame(raw_data_table, index=['row0','row1','row2'], columns=['col0','col1','col2','col3'])
print(d_t)

# 이미 있는 것도 이런식으로 변경 가능
d_d.index = ['r0','r1','r2','r3']
d_d.columns = ['c0','c1','c2']
print(d_d)

      col0  col1  col2  col3
row0     1     2     3     4
row1    10    20    30    40
row2   100   200   300   400
    c0  c1   c2
r0   4  40  400
r1   3  30  300
r2   2  20  200
r3   1  10  100

In [13]:
# row의 index로 접근하려면 loc을 사용하면 된다
print(type(d_t.loc['row0']))
print(d_t.loc['row0'])

# row의 numerical index로 접근하려면 iloc을 사용하면 된다
print(type(d_d.iloc[0]))
print(d_d.iloc[0])

# column은 iloc같은게 없는 듯...?

<class 'pandas.core.series.Series'>
col0    1
col1    2
col2    3
col3    4
Name: row0, dtype: int64
<class 'pandas.core.series.Series'>
c0      4
c1     40
c2    400
Name: r0, dtype: int64

In [14]:
# 이런 식으로 특정 row만 가져올 수도 있다
d_d.iloc[:2]

    c0  c1   c2
r0   4  40  400
r1   3  30  300

In [15]:
# 혹은 이런 식으로 특정 row, 특정 col만 가져올 수도 있다
d_d.iloc[[1],[1,2]]

    c1   c2
r1  30  300